@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #f7f7f8;
  --foreground: #111;
}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family:
    ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  background: #e9edf2;
}
